<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

    <body>

        <h1 style="margin-top: 1em;">
            Libros de Quimica
        </h1>
        
           
            <p style="margin-top: 2em;">
               <h2>Índice</h2> 
• La Biblia de los cristales.<br>
La Opción Favorita de los Expertos. Química General Petrucci.<br>
Química 2º Bachillerato (LOMCE)<br>
Química inorgánica. Volumen 1: Elementos representativos: 7 (Ciencias Químicas)<br>
Todo es cuestión de química.<br>

</p>
        <%- include("../partials/header") %>
            <%- include("../partials/footer") %>

    </body>

</html>