<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

    <body>
        <h1>
            Sobre nosotros
        </h1>

        <%- include("partials/header") %>

            <p style="margin-top: 2em;">
                Somos un grupo de personas comprometidas
            </p>
              
            

            <%- include("partials/footer") %>

    </body>

</html>