<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

    <body>
        <h1>
            Sobre nosotros
        </h1>

        <%- include("partials/header") %>

            <p style="margin-top: 2em;">
                Vestibulum ac arcu lacinia, pulvinar mi ut, ultricies libero. Suspendisse bibendum nibh ac purus blandit, eget varius erat gravida. Nulla euismod nulla eu sollicitudin porta. Ut id vehicula metus, vitae consectetur sem. Mauris consequat rhoncus ligula
                et efficitur. Donec lacinia velit sit amet est tristique, eget cursus orci semper. Cras porta suscipit sapien, vitae blandit nibh congue a. Vivamus nisi lectus, rhoncus ac lorem in, euismod blandit augue. Nulla non pretium purus, nec fringilla
                nisi. Phasellus tempus tincidunt nulla, pharetra aliquam purus commodo sed. Proin vehicula turpis purus, in condimentum enim faucibus quis. Suspendisse rhoncus, ligula id semper blandit, ipsum dui facilisis velit, sit amet rhoncus libero
                ex eu nunc.
            </p>

            <%- include("partials/footer") %>

    </body>

</html>