<footer>
    <nav class="navegacion-footer">
        <ul class="listado">
            <a class="enlace" href="/sobrenosotros">
                Sobre nosotros
            </a>
        </ul>
    </nav>
</footer>