<nav class="navegacion-principal">

    <ul>
<div>
    <h1>
    Inicio
</h1>
</div>
        
<div>
    <a class="enlace" href="/cienciasnaturales/fisica">
     Física
    </a>
</div>
       
<div>
    <a class="enlace" href="/cienciasnaturales/quimica">
         Química
    </a>
</div>
        
<div>
    <a class="enlace" href="/economia/teoriadelasorganizaciones">
        Teoría de las Organizaciones
    </a>
</div>
        
<div>
    <a class="enlace" href="/economia/gestionorganizacional">
        Gestión Organizacional
    </a>
</div>
        
    </ul>
    <script> src="js-a/jquery-3.6.0.min.js"</script>
    <script> src="js-a/popper.min.js"</script>
    <script> src="js-a/bootstrap.min.js"</script>

</nav>