<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>
        Documento
    </title>
    <link rel="stylesheet" href="css-a/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
</head>

<body>
    <div class="container">
        <button type="button" class="btn btn-success">Volver</button>
    </div>
    <div>
        <p class="text-success">Acá encontrarás todo el material necesario para este año 2022.</p>
    </div>

    <div>
        <i class="fas fa-coffee"></i>
    </div>
   

    <script> src="js-a/jquery-3.6.0.min.js"</script>
    <script> src="js-a/popper.min.js"</script>
    <script> src="js-a/bootstrap.min.js"</script>

</body>
   
