<nav class="navegacion-principal">

    <ul>
<div>
    <h1>
    Inicio
</h1>
</div>
        
<div>
    <a class="enlace" href="/cienciasnaturales/fisica">
        Material de Física
    </a>
</div>
       
<div>
    <a class="enlace" href="/cienciasnaturales/quimica">
        Material de Química
    </a>
</div>
        
<div>
    <a class="enlace" href="/economia/teoriadelasorganizaciones">
        Material de Teoría de las Organizaciones
    </a>
</div>
        
<div>
    <a class="enlace" href="/economia/gestionorganizacional">
        Material de Gestión Organizacional
    </a>
</div>
        
    </ul>


</nav>