<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
        <h1 style="margin-top: 1em;">
            Libros de Gestión Organizacional
        </h1>
        
           
            <p style="margin-top: 2em;">
               <h2>Índice</h2> 
• Física Contemporánea<br>
• Fenomenos Colectivos<br>
• Electromagnetismo<br>

</p>
       
            <%- include("../partials/footer") %>
          

        </body>
    
    </html>

